{# drupal_timezone/templates/drupal-timezone-location.html.twig #}
<div>
  <H1>Assignment Display</H1>
  <table>
    <tr>
      <td>{{ time }}<td>
    </tr>
    <tr>
      <td>{{ date }}<td>
    </tr>
    <tr>
      <td>Time in {{ city }}, {{ country }}<td>
    </tr>
  </table>
</div>
<div>
  <h1>Basic Tabular Display</h1>
  <table>
    <tr>
      <th>County:</th>
      <td>{{ country }}</td>
    </tr>
    <tr>
      <th>City:</th>
      <td>{{ city }}</td>
    </tr>
    <tr>
      <th>Date Time:</th>
      <td>{{ date_time }}</td>
    </tr>
  </table>
</div>
